html {
  font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif;
}

h1, h2 {
  font-family: Papyrus, fantasy;
  color: purple;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: gray;
}

ul li {
  display: inline-block;
}

ul li a {
  display: inline-block;
  padding: 16px;
  color: black;
  text-decoration: none;
}

ul li a:hover {
  background-color: #AAA;
}

footer {
  background-color: #DDD;
  color: #555;
  text-align: center;
  padding: 16px 0;
}